/*@import url(/kr/css/sub.css);*/

.identity_wrap .compositionType_lst > li:last-child span {line-height:1rem}
.identity_wrap .compositionType_lst .type {height:8.5rem}
/*석세스스토리 이미지 */
.sub030102 .historyCnts.type1 > .img_lst .tweenImg img, .sub030102 .historyCnts.type2 > .img_lst .tweenImg img {height:auto;}

/*Overview
.aboutInfo_lst .aboutInfo > dt{width:6.75rem}
.aboutInfo_wrap .standard{margin-left:11.75rem}
*/

/*Corporate Philosophy*/
.philosophy_wrap > h2.active .title{display:block;table-layout:auto}
.philosophy_wrap > h2.active strong,.philosophy_wrap > h2.active span,.philosophy_wrap > h2.active i[class*="xi-"]{display:block}
.philosophy_wrap > h2.active span{margin-top:0}
.philosophy_cnts_lst dl > dt{width:9.5rem}
/*About the Founder*/
.aboutFounder_wrap .career_wrap > .caption{left:40%;padding:2.75rem 2.5rem}
.aboutFounder_wrap .career_wrap dt{width:6.75rem}
.founderPhilosophy .item .caption{padding:2rem 7rem 1.5rem}
/*.founderPhilosophy .item{padding-bottom:12.25rem}*/

.brandStory_wrap .h3_desc{white-space:normal}
.brandStory_wrap .technology_lst strong{padding:0 1.25rem;font-size:1rem;line-height:1.25rem}
.brandStory_wrap #hemohim01 h3{font-size:2rem;line-height:2.5rem}
.brandStory_wrap #theFame06 h3{font-size:2rem;line-height:2.5rem}
.brandStory_wrap #theFame06 .technology_detail .meaning > span{padding:0.75rem}

#hemohim02 .cultivation_wrap h4{top:0;line-height:1.5rem}
#hemohim02 .cultivation_wrap h4 > em{line-height:1.5rem}
#hemohim02 .cultivation .desc{font-size:0.7rem;line-height:0.8rem;letter-spacing:-0.05rem}
#hemohim02 .no1 > .cultivation{margin-top:0.75rem}
#hemohim02 .no3 > .cultivation{margin-top:5rem}
#hemohim03 .threePoint > span.no2 > .point{top:0;right:-2.25rem}
#hemohim03 .threePoint > span.no3 > b {right:2rem}
#hemohim03 .keyPoint_wrap {overflow: visible;}
#hemohim03 .threePoint > span.no1 > b {top: -50px;}
#hemohim04 .historyChange > .num{padding:0.5rem 0;line-height:1.2rem}
#hemohim04 .historyChange > .num > em{display:block;line-height:1.2rem}

#theFame01 .skincareSystem_wrap .fourTech{padding:3.4rem 0.5rem}
/*
#theFame03 .newTechName > .img > em.no1{transform:translate(-11rem,-7.75rem);-webkit-transform:translate(-11rem,-7.75rem)}
#theFame03 .newTechName > .img > em.no2{transform:translate(4.75rem,-1.5rem);-webkit-transform:translate(4.75rem,-1.5rem)}
#theFame03 .newTechName > .img > em.no3{transform:translate(-7rem,8.25rem);-webkit-transform:translate(-7rem,8.25rem)}
*/
#theFame04 .hyaluronic-acid > li{font-size:0.7rem;line-height:0.8rem}
#theFame04 .hyaluronic-acid > li.no1{top:1rem;left:2rem}
#theFame04 .hyaluronic-acid > li.no2{top:1rem}
#theFame04 .hyaluronic-acid > li.no3{right:1.5rem}
#theFame04 .hyaluronic-acid > li.no4{left:2rem}
#theFame04 .hyaluronic-acid > li.no5{}
#theFame04 .ceramide > li:first-child .desc .no1{top:0.25rem}
#theFame04 .ceramide > li:first-child .desc .no2{bottom:1rem}
#theFame04 .ceramide > li:last-child .desc .no2{bottom:2rem}
#theFame07 .historyChange strong{padding:0.75rem 1rem}
#theFame07 .historyChange_lst > li:first-child .historyChange strong{padding:0.75rem 1rem}
#theFame07 .historyChange .name{padding:1rem}

.skincare_wrap .scienceStory > span{padding:0.25rem 0.75rem}
#cellActive03 .complex .no1 span{padding:0 0.5rem;font-size: 0.7rem}
#cellActive03 .complex .no3 span{padding:1rem 0.5rem}
#cellActive03 .function{padding:5rem 0 2rem}
#cellActive03 li:first-child .function{padding:2rem 0}
#cellActive03 .function > span{width:5.25rem;font-size:0.6rem;line-height:0.8rem}
#cellActive08 .experience_wrap{padding:2rem 5rem}
#cellActive09 .excellent > .icon{top:1.25rem}

/*GSGS Strategy*/
.condition_lst .conditionInfo strong > .small{line-height:1rem}

/*Win-Win Partnership*/
/* .winwinPartner .supportfund_lst .supportfund{padding:1.25rem 0} */
/* .winwinPartner .supportfund_lst .supportfund > .funds > em{display:block} */
/*Eco-friendly Policy*/
.ecofriendlyPerform_lst > li{width:100%}
.ecofriendlyPerform_lst > li:nth-child(2){border-top:1px solid #e3e6e8}

/* Atomy Park */
.atomyparkDesc_wrap .completion > dt {
  width: 10rem;
}
.atomyparkDesc_wrap .completion > dd {
  padding-right: 15px;
}

/*상훈*/
.history_table_block p, .history_table_block h4 {overflow:hidden;  text-overflow:ellipsis; white-space:nowrap;}
@media screen and (max-width:768px){
	.founderPhilosophy .item .caption{padding:1.5rem 2rem;position:relative}
	
	.aboutFounder_wrap .career_wrap dt{width:4.5rem}
	.aboutFounder_wrap .career_wrap > .caption{padding:2rem 1.5rem}
	
	.atomyparkDesc_wrap .completion > dt{width:5.5rem}
	
	.historyYear > .more > a > span, .historyYear > .shortcut > a > span{font-size:0.6rem}
	
	.identity_wrap .compositionType_lst .type {height:7rem}
	
}

@media screen and (max-width:562px){
	
 .identity_wrap .regulations_lst li:nth-child(3) strong {margin:0.5rem 0 1.3rem}
	
}
	
